nav {
    height: 100px;
    padding: 1rem;
    position: relative;
  
    /* justify-content: space-around;
    flex-wrap: wrap; */
    background: rgb(197,241,245);
    background: linear-gradient(0deg, rgba(197,241,245,0.3604035364145658) 0%, rgba(197,241,245,0.8057816876750701) 62%);
    font-weight: 600;
    box-shadow: #00000036 0px 1px 3px 2px;
/*   
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; */
  }
  
  .dog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }
  
  .logo {
    float: left;
    
  }
  
  .nav__authLinks {
    float: right;
    
  }

  
  .nav__projectName {
    color: #e4f9ff;
    text-decoration: none;
  }
  
  .authLink,  .nav__authLinks button {
    color: #8db989;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-family: 'Nanum Gothic', sans-serif;   
     font-size: 1.1rem;
    font-weight: normal;
  }
  
  .authLink + .authLink {
    padding: 1em;
  }
  
  .authLink:hover {
    color: #fff;
    border-bottom: 0.5px solid #fff;

    padding-bottom: 16px
  }
  

  .nav-logoutbtn button {
    color: #f48c8c;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-family: 'Nanum Gothic', sans-serif;   
     font-size: 1.1rem;
    font-weight: normal;
  }
  
  .nav-logoutbtn + .nav-logoutbtn {
    padding: 1em;
  }
  
  .nav-logoutbtn:hover {
    color: #fff;
    border-bottom: 0.5px solid #fff;

    padding-bottom: 16px
  }

  /* .nav-logoutbtn{
    color:#ffffff;
    background: transparent;
    border:none;
    position:relative;
    height:40px;
    font-size:1.1rem;
    font-weight:normal;
    padding:0.3em;
    cursor:pointer;
    transition:800ms ease all;
    font-family: 'Nanum Gothic', sans-serif;
        text-align: center;
    box-shadow: 0 0 5px 0 whitesmoke;
    text-shadow: 1px 1px 0px #0000003b;

  }
  .nav-logoutbtn:hover{
    background: transparent;
    color:rgb(255, 135, 135)
  }
  .nav-logoutbtn:before,  .nav-logoutbtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:1px;
    width:0;
    background: rgb(255, 135, 135);
    transition:400ms ease all;
  }
  .nav-logoutbtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .nav-logoutbtn:hover:before,nav-logoutbtn:hover:after{
    width:100%;
    transition:800ms ease all;
  } */